html {
    background-color: rgb(252, 53, 169);
}

body {
    background-color: rgb(190, 228, 182);
}

main {
  background-color: rgb(18, 80, 180);
}

/* .about-section {
  background-color: rgb(255, 153, 0);
} */

.navbar, .footer {
  background-color: rgb(23, 226, 77);
}

.navbar {
  margin-bottom: 2em;
}

.footer {
  margin-top: 1em;
}

.footer p {
  background-color: rgb(134, 255, 245);
}

.nav-links {
  background-color: rgb(147, 147, 147);
}

.navbar a:hover {
  background-color: aquamarine;
}

.submit-container {
  background-color: indianred;
}

.single-letter-display-area {
  background-color: rgb(21, 85, 21);
}

.single-letter-container {
  background-color: green;
}

.single-letter-topline {
  background-color: rgb(157, 112, 50);
}

.letter-owner-area {
  background-color: orange;
}

.owner-actions {
  background-color: rgb(255, 255, 0);
}

button.owner-subtle-action {
  background-color: rgb(255, 0, 0);
}

.letter-display {
  background-color: mediumslateblue;
}

.guardian-panel-container {
  background-color: #7fbf92;
}

.guardian-panel {
  background-color: rgb(187, 147, 224);
}

form {
  background-color: grey;
}

.visitor-input-container {
  background-color: rgb(104, 255, 255);
}

.vistor-input-container-expanded {
  background-color: rgb(46, 170, 170);
}

.visitor-textarea {
  background-color: goldenrod;
}

.buttons-container {
  background-color: #e5e3d4;
}


@media (width <= 375px) {

  .letter {
    background-color: rgb(210, 134, 41);
  }


}

@media (max-width > 375px) {


}